{% extends 'base.html' %}

{% block content %}

<center><h3>DRAFT BILL OF LANDING</h3></center>
{% if results %}

{% for i in results %}
{% if forloop.first %}
<table class="table table-bordered border border-black border-3">
    <tbody class="">
      <tr>
        <th scope="col" rowspan="3" style="height: 120px; width: 50%;">
            <u>SHIPPER:</u> <br>
            <p class="fw-normal">{{ i.exporterName }}</p> 
            <p class="fw-normal">{{ i.exporterAddress }}</p>
        </th>
        <th scope="col" style="width: 50%;">
            BOOKING NO. : {{ i.bookingNum }}
        </th>
      </tr>
      <tr>
        <th scope="col" style="width: 50%;">
            SHIPPING LINE : {{ i.shippingLine }}
        </th>
      </tr>
      <tr>
        <td rowspan="2" style="width: 50%;">
            <h3>A.R.M. CONTAINER AGENCY</h3>
            {{ i.armAddress }} 
        </td>
      </tr>
      <tr>
        <td style="height: 120px; width: 50%;">
            <u><b>CONSIGNEE:</b></u> <br>
            <p>{{ i.consignee }}</p>
        </td>
      </tr>
      <tr>
        <td style="height: 120px; width: 50%;">
            <u><b>NOTIFY & DELIVERY</b></u> <br>
            <b><p>{{ i.notifyconsignee }}</p></b>
            <p>{{ i.notifyDelivery }}</p>
        </td>
        {% if i.alsoNotifyParty %}
            <td>
                <u><b>ALSO NOTIFY PARTY</b></u>
                <p>{{ i.alsoNotifyParty }}</p>
            </td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
      <tr>
        <td style="height: 120px; padding: 0; padding-bottom: 0; width: 50%;">
            <table class="table border-white">
                <tbody>
                    <tr>
                        <td style="height: 40px; padding: 0; width: 50%;" class="border border-black">
                            <u>INITIAL CARRIAGE BY (MODE)</u>
                            <p>{{ i.initialCarriage_mode }}</p>
                        </td>
                        <td style="height: 40px; padding: 0;" class="border border-black">
                            <u>PLACE OF RECEIPT OF GOODS</u>
                            <p>{{ i.placeOfReceiptOfGood }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px; padding: 0;" class="border border-black">
                            VESSEL/FLIGHT NO. <br>
                        </td>
                        <td style="height: 40px; padding: 0;" class="border border-black">
                            <u>PORT OF LOADING</u>
                            <p>{{ i.portOfLoading }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px; padding: 0;" class="border border-bottom-0 border-black">
                            <u>PORT OF DESTINATION</u>
                            <p>{{ i.portOfDestination }}</p>
                        </td>
                        <td style="height: 30px; padding: 0;" class="border border-bottom-0 border-black">
                            <u>FINAL DESTINATION</u>
                            <p>{{ i.finalDestination }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td style="height: 120px;"></td>
      </tr>
      <tr>
        <td style="height: 120px; padding: 0; padding-bottom: 0;" colspan="3">
            <table class="table border-white">
                <tbody>
                    <tr>
                        <td style="height: 60px; padding: 0;" class="border border-bottom-0 border-black col-3" rowspan="3">
                            <table class="table border-white">
                                <tbody>
                                    <tr>
                                        <td style="height: 260px; padding: 0;" class="border border-black">
                                            {% for data in results %}
                                            <div>
                                                <center class="border-bottom border-2 border-black">MARKS </center>
                                                <center><p>{{ data.marks }}</p></center>
                                            </div> <br>
                                            {% endfor %}
                                            <center>{{ i.pkgorcases }}</center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 101px; padding: 0;" class="border border-black">
                                            <u>CONTAINER NO.</u>
                                            {% for data in results %}
                                            <p>{{ data.containerNum }}</p>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 90px; padding: 0;" class="border border-black">
                                            <u>SHIPPING LINE SEAL#</u>
                                            {% for data in results %}
                                            <p>{{ data.shippingLineSeal }}</p>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 90px; padding: 0;" class="border border-black">
                                            <u>CUSTOM SEAL#</u>
                                            {% for data in results %}
                                            <p>{{ data.customSeal }}</p>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0;" class="">
                                            <u><b>FREIGHT</b></u>
                                            <p>{{ i.freight }}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="height: 40px; padding: 0;" class="border border-bottom-0 border-black col-6" rowspan="3">
                            <table class="table border-white">
                                <tbody>
                                    <tr>
                                        <td style="height: 420px; padding: 0;" class="border border-black">
                                            <center class="border-bottom border-2 border-black">DESCRIPTION OF GOODS </center>
                                            
                                            <p>{{ data.descriptionOfGood }}</p>

                                            
                                            {{ i.noOfPkgs }} {{ i.pkgorcases }}
                                            <br>SAID TO CONTAIN
                                            <br>{{ i.totalpkgtext }}
                                            <br><center>{{ i.descriptionOfGood }}</center>

                                            <hr>
                                            <div>
                                                <p>
                                                    {% for data in results %}
                                                        S.B. NO.        : {{ data.shippingBillNo }}
                                                    {% endfor %} 
                                                     .         .       <b>DT.: {{ i.sbDate|date:"d-m-Y" }}</b>
                                                </p>
                                                {% for data in results %}
                                                <p>IEC NO.         : {{ data.IECno }}</p> 
                                                {% endfor %}
                                                <p>INVOICE NO.     : {{ i.invoiceNo }}   .    .<b>DT.: {{ i.invoiceDate|date:"d-m-Y" }}</b></p>                                            
                                                <p>HS CODE         : {{ i.hsCode }}</p>
                                                <p>PO NO           : {{ i.poCode }}</p>                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 215px; padding: 0;" class="border border-black">
                                            <table class="table border border-black">
                                                <tbody>
                                                <tr>
                                                    <td class="border border-black">CONTAINER NO.</td>
                                                    <td class="border border-black">NO. OF PKG</td>
                                                    <td class="border border-black">GROSS WT.</td>
                                                    <td class="border border-black">NET WT.</td>
                                                </tr>
                                                {% for data in results %}
                                                <tr class="border-bottom-0">
                                                    <td class="border border-black">{{ data.containerNum }}</td>
                                                    <td class="border border-black">{{ data.noOfPkgs }}</td>
                                                    <td class="border border-black">{{ data.grossWt }}</td>
                                                    <td class="border border-black">{{ data.netWt }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                                
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0;" class="">
                                            <b>DATE OF ISSUE</b>
                                            <p>{{ i.dateOfIssue|date:"d-m-Y" }}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="height: 40px; padding: 0;" class="border border-bottom-0 border-black col-3" rowspan="3">
                            <table class="table border-white">
                                <tbody>
                                    <tr>
                                        <td style="height: 420px; padding: 0;" class="border border-black">
                                            <center class="border-bottom border-2 border-black">WEIGHT</center>
                                            <br> <center>
                                            <div>
                                                <u>GROSS WT.</u> <br>
                                                {% for data in results %}
                                                    {{ data.grossWt }} {{ i.grossUnit }}<br>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <br>
                                                <u>NET WT.</u> <br> 
                                                {% for data in results %}
                                                    {{ data.netWt }} {{ i.netUnit }}<br>
                                                {% endfor %}
                                            </div> <br><br>
                                            <div>
                                                CBM : {{ i.CBM }}
                                            </div><br><br>
                                        </center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 215px; padding: 0;" class="border border-black">
                                            <table class="table">
                                                <tbody>
                                                <tr class="border-bottom-0">
                                                    <td class="border border-black">CBM</td>
                                                </tr>
                                                {% for data in results %}
                                                <tr class="border-bottom-0">
                                                    <td class="border border-black">{{ data.CBM }}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                                
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 65px; padding: 0;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </td>
      </tr>
    </tbody>
  </table>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}