{% extends 'base.html' %}

{% block content %}
{% include 'bases/indexBase.html' %}
    <br><br><br>
    <p class="p-6 fw-bold font-monospace">
        ARM Agency is a distinguished agency specializing in custom clearance services, ensuring smooth and efficient import
        and export processes. Our commitment to excellence has earned us a reputation for providing one of the best custom
        clearance services in the industry. We handle customs clearance not only within India but also for shipments to
        various foreign countries, handling large volumes of goods with precision and expertise. Our approach is rooted in
        trust and wisdom, ensuring that every clearance process is conducted with integrity and foresight, navigating
        through customs regulations and procedures seamlessly. With over 25 years of experience in the custom clearance
        business, ARM Agency stands as a trusted partner for businesses seeking reliable and hassle-free customs clearance
        services.
    </p>

{% endblock %}